
/*------------general-------------*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --gradient: linear-gradient(90deg, #9b62cf,#4db9da);
    --primary-color: #4db9da;
    --secondary-color: #8E71D1; 
    --photo-background-color: #5ca7f7;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    

    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    
}

#aboutus {
    scroll-margin-top: 80px;
}

html{
    scroll-behavior: smooth;
}



h1{
    color: #f4f8ff;
    font-size: 4rem;

    text-align: center;
}

h2{
    color: #dce6ff;
    font-size: 2rem;

    text-align: center;
}

h3{
    color: #bfc9e6;
    font-size: 1.25rem;
    line-height: 1.4;

    text-align: center;
}


p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}





a{
    text-decoration: none;
    color: #5a3b77;
    transition: all 0.4s ease;
    letter-spacing: 0.5px;
    font-weight: 700;

}

a:hover{
    color: #4e899b;

}



li{
    list-style: none;
}

button{
    color:aliceblue;
    background: var(--gradient);
    border: none;
    padding: 10px 35px; 
    border-radius: 35px;
    cursor: pointer;

    color: #ffffff;


    font-weight: 500; 
    font-size: 1rem;

    
}

button:hover{
    background: linear-gradient(90deg, #b07de8, #6dd4f5);
    transition: all 0.4s ease;
    transform: scale(1.05);
}






/*---------------header----------------------------------------------------------*/



.front{
    display: flex;
    flex-flow: column wrap;

    padding-top: 60px;

    
    background: linear-gradient(to bottom, #9b62cf 0%,
  #a06ad9 15%,
  #a673e3 30%,
  #9b4dff 45%,
  #4f87f7 70%,
  #1aa5f0 100%);
    /*background: #1aa5f0;*/
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    
    

    
}

svg path{
    fill: #1aa5f0;
    height: 40%;
}


/*----------------head----------------*/

header{
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;

    border-radius: 0 0 10px 10px;
        
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), 
    rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 65px;

}

.logo{
    width: 120px;
    height: auto;

    

}



/*---------------------------hero-background---------------------------*/



.hero{

    position: relative;
    z-index: 1;


    height: 100vh;
    display: grid;
    grid-template: 1fr/1fr;

    
    
}


.grid{
    background: url(assets/Grid.png);
    
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, transparent 100%);

    grid-area: 1/1;
    

}

.content{
    grid-area: 1/1;
    z-index: 10;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}


.hero-last{
    width: 100vw;
}




/*----------------------About-------------------------------------------------------*/





.aboutus{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;

    height: 80vh;
    padding: 60px 60px;
    
}

.about-content{
    
    text-align: left;
    max-width: 500px;

}

.about-content h2{
    text-align: left;
    color: var(--secondary-color);
    padding-bottom: 10px;
}

.about-content hr{

    margin-bottom: 10px;
    opacity: 50%;
    max-width:488px;


}



.photo img{
    width: 400px; 
    height: auto;
    border-radius: 80px 10px;
}






/*-----------------------------Services---------------------------------------------------------------------------------------*/


.services{

    background: #f7f7f7;
    height: 80vh;


    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-evenly;
    gap: 40px;
}



.sub-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}


.services h2{
    color: var(--secondary-color);
}

.sub-services h3{
    color: rgb(163, 115, 163);
}

.service{
    max-width: 350px;

    padding: 20px;
    border: 2px solid #5ca7f77c;
    border-radius: 30px;
    
    
}

.service.special{
    background: linear-gradient(to bottom, #9b62cf 0%,
  #a06ad9 15%,
  #4f87f7 70%,
  #1aa5f0 100%);
  color: rgb(207, 207, 207);
  border: none;

}

.service.special:hover{
    background: linear-gradient(to bottom, #b394d9 0%, #b99ee3 15%, #85aef9 70%, #4fc7ff 100%);
    transition: all 0.4s ease;
    transform: scale(1.01);

}

.service.special h3{
    color: white;
}

.service p{
    padding: 30px 10px;
    
}


.service hr{
    
    margin: 20px 40px;

}




/*-------------------------------------------------------------projects--------------------------------------------------------------------------*/



















/*<!-------------------------------------------------------------features----------------------------------> */


.title-blanc{
    color: var(--secondary-color);
    margin-top: 40px;
    text-align: center;
}





.features{
    height: 100vh;

    
    padding: 40px 60px;

    margin-bottom: 80px;

    display: grid;
    gap: 10px;
    
    grid-template-areas: 
    "item1 item1 item1 item1 item1 item1 item2 item2"
    "item3 item3 item4 item4 item4 item4 item5 item5"
    "item6 item6 item4 item4 item4 item4 item5 item5"
    "item7 item7 item7 item7 item8 item8 item9 item10";

    
    

}

.feature{
    border-radius: 20px;
    
}







.feature1{
    grid-area:item1; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items:center;

    background: linear-gradient(90deg, #5187c9 0%,#8debc5 100%);
                                                                                              

}















.feature2{
    grid-area:item2; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;    
    align-items:center;

    background: linear-gradient(90deg, #ffc9fe 0%, #ff8cc9 70%, #ab278a 100% );}















.feature3{
    grid-area:item3; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;    
    align-items:center;
    
    background: linear-gradient(180deg, #8accf2 0%, #63dde6 70%, #73d1eb 100%);
}

















.feature4{
    grid-area:item4; 
    
    display:flex;
    flex-wrap: wrap;
    flex-flow: column wrap; 
    justify-content: center;    
    align-items:center;
    
    background: linear-gradient(0deg, #9b62cf,#4db9da);

    padding: 0px 60px;
    transition: all 0.4s ease;
}

.feature4:hover{
    transform: scale(1.02);
    background: linear-gradient(0deg, #9a62cfd9, #4db9dabb);
    

}

.feature4 h1{
    font-weight: 800;
    font-size: 6rem;
    background: linear-gradient(0deg, #5187c9 0%,#8debc5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}















.feature5{
    grid-area:item5; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;    
    align-items:center;
    
    background: #35293d;
}















.feature6{
    grid-area:item6; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;    
    align-items:center;
    
    background: #1c1b1c;
}















.feature7{
    grid-area:item7; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;    
    align-items:center;
    
    background: linear-gradient(180deg, #8accf2 0%, #63dde6 70%, #73d1eb 100%);
}















.feature8{
    grid-area:item8; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;    
    align-items:center;
    
    background: linear-gradient(90deg, #bfb0d4 0%, #d7cfe3 70%, #e5dded 100%);

    padding: 0px 16px;
}















    

.feature9{
    grid-area:item9; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;    
    align-items:center;
    
    background: linear-gradient(#ffc9fe 0%, #ff8cc9 100%);
}















.feature10{
    grid-area:item10; 
    
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
    
    align-items:center;
    background: linear-gradient(90deg, #ff8cc9 0%, #ab278a 100% );
}

























/*<!-------------------------------------------------------------projectile2----------------------------------> */


.title-plan{
    color: var(--secondary-color);
    
    text-align: center;
}


.big-plan{
    background: #f7f7f7;
    padding-top: 90px;
    padding-bottom: 90px;
}




.plans{
    height: 100vh;
    background: #f7f7f7;
    padding: 10px 60px;

    display: flex;
    flex-wrap: wrap;
    gap: 0.1px;
    justify-content: space-around;
    align-items: center;
}



.plans p{
    color: gray;
    font-size: 13px;
}



.plan{
    border: 0.7px solid #2ECC71;/*you were here last time*/
    border-radius: 18px;
    height: 90%;
    width: 32%;
    padding: 0px 20px;
    padding-bottom: 20px;

    
    
    
}

.plan h3{
    color: black;
    margin-bottom: 10px;
    
}

.plan h2{
    color: #2ECC71;
    
}

p.normal-font-weight{
    font-weight: 500;
}

i{
    display: block;
    margin-right: 10px; 
}

.plan hr{
    opacity: 50%;
    margin: 10px 10px;
}



.offre{
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 10px;
    text-align: center;

}



.title-plan{
    padding: 20px;
}


.qualitie{
    padding-left: 10px;
}




.plan2{
    height: 95%;
    border-top: 20px solid #2ECC71;
    border-bottom: 20px solid #2ECC71;
    border-left: 3.5px solid #2ECC71;
    border-right: 3.5px solid #2ECC71; 

    
}





/*<!-------------------------------------------------------------contact us----------------------------------> */

.contactus{
    height: 65vh;

    
    padding: 60px 70px;
    
}


.contactus h2{

    color: var(--secondary-color);
    
    

    padding-bottom: 50px;

}


.contactme{
    
    padding: 40px 10px;
    
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.contactme hr{
    width: 60%;
    margin-bottom: 24px;
}


.contactme h3{

    color: black;

}


.contactme p{
    color: rgb(80, 77, 77);

    margin-bottom: 24px;
}




footer{

    background: linear-gradient(to top, #9b62cf 0%,
  #a06ad9 15%,
  #a673e3 30%,
  #9b4dff 45%,
  #4f87f7 70%,
  #1aa5f0 100%);
    /*background: #1aa5f0;*/
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



    height: 40vh;

    display: flex;
    align-items: end;
    justify-content: start;

}

footer h3{


    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;

     
}